<div class="flex-w">
    <p>
        Source code available in <i class="fa fa-github" aria-hidden="true"></i><a href="https://github.com/anikolop/ffviir-disc-countdown" target="_blank">Github</a>.<br />
        Final Fantasy VII Rebirth and the used images are the property of © Square Enix Co., Ltd.<br />
        Free theme used from <a href="https://colorlib.com/wp/template/comingsoon_01/" target="_blank">colorlib.com</a> and adapted to Blazor.
        All rights reserved to their respective owners.<br />
        This work is not affiliated with or endorsed by Square Enix Co., Ltd.
    </p>
</div>